Repository hashi-at-home/cdevents-adapter: changes, and which pre-commit hooks are due for each by the changed paths.
All: npm-test, package-json-check

.pre-commit-config.yaml:

# Pre-commit configuration for cdevents-adapter
# See https://pre-commit.com for more information
repos:
  # Secrets detection
  - repo: https://github.com/Yelp/detect-secrets
    rev: v1.5.0
    hooks:
      - id: detect-secrets
        args: ["--baseline", ".secrets.baseline"]
        exclude: package-lock.json

  # Basic file checks
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
        args: ["--unsafe"]
      - id: check-json
      - id: check-toml
      - id: check-merge-conflict
      - id: check-added-large-files
        args: ["--maxkb=1000"]
      - id: check-case-conflict
      - id: mixed-line-ending
        args: ["--fix=lf"]

  # TypeScript/JavaScript linting and formatting
  - repo: local
    hooks:
      - id: npm-test
        name: Run npm tests
        entry: npm run test:essential
        language: system
        files: \.(ts|js|json)$
        pass_filenames: false

  # MegaLinter for comprehensive code analysis
  - repo: https://github.com/oxsecurity/megalinter
    rev: v9.1.0
    hooks:
      - id: megalinter-incremental
        stages: [pre-commit]

  # Conventional commits validation
  - repo: https://github.com/alessandrojcm/commitlint-pre-commit-hook
    rev: v9.23.0
    hooks:
      - id: commitlint
        stages: [commit-msg]
        additional_dependencies:
          - "@commitlint/config-conventional"
  # Additional Node.js specific checks
  - repo: local
    hooks:
      - id: package-json-check
        name: Check package.json format
        entry: npm run build
        language: system
        files: ^package\.json$
        pass_filenames: false
        stages: [pre-commit]

chore: add cloudflare types
  .secrets.baseline
  worker-configuration.d.ts
Due: npm-test

fix(spec): change context version key to specVersion
  src/__tests__/adapters/github/essential-adapter.test.ts
  src/adapters/jira/adapter.ts
  src/index.tsx
  src/schemas.ts
  test-setup.ts
Due: npm-test

build(deps): update dependencies
  package-lock.json
  package.json
Due: npm-test, package-json-check

chore: update lockfile
  package-lock.json
Due: npm-test

chore: update semantic-release dependencies
  package-lock.json
  package.json
Due: npm-test, package-json-check

fix(spec): change context version key to specVersion
  src/__tests__/api/api.test.ts
  src/__tests__/api/openapi-schemas.test.ts
  src/__tests__/api/validation-endpoints.test.ts
  src/__tests__/fixes/validation-error-handling.test.ts
  src/__tests__/index.test.ts
  src/__tests__/schemas.test.ts
  src/index.tsx
Due: npm-test

test(servers): expect at least the development server to be specified
  src/__tests__/api/api.test.ts
  src/__tests__/schemas.test.ts
Due: npm-test

chore(release): 3.0.0 [skip ci]
  CHANGELOG.md
  package-lock.json
  package.json
Due: npm-test, package-json-check

Notes added by 'git notes add'
  74e8cc2906888ebcc62361958418bd0f8625b2db
Due: none

chore: remove worker configuration
  .gitignore
  .secrets.baseline
  worker-configuration.d.ts
Due: npm-test

chore: there is no process object in the browser
  src/version.ts
Due: npm-test

build: add supported event publishing queues
  wrangler.jsonc
Due: none

feat(ops,ticket): add ticket subject content schemas
  src/schemas.ts
Due: npm-test

feat(adapter): add ticket events to schemas
  src/adapters/jira/adapter.ts
  src/adapters/jira/routes.ts
  src/schemas.ts
Due: npm-test

test(schema): fix imports after refactor
  .secrets.baseline
  src/__tests__/adapters/github/adapter.test.ts
  src/__tests__/adapters/github/essential-adapter.test.ts
  src/__tests__/api/openapi-schemas.test.ts
  src/__tests__/api/validation-endpoints.test.ts
  src/__tests__/index.test.ts
  src/__tests__/schemas.test.ts
  src/adapters/github/adapter.ts
  src/index.tsx
  src/schema-core-events.ts
  src/schema-ticket-events.ts
  src/schemas.ts
Due: npm-test

build(jira): fix imports for jira adapter
  src/adapters/jira/adapter.ts
Due: npm-test

feat(kv): add ticket transition cache KV binding
  src/adapters/base.ts
  src/adapters/jira/adapter.ts
  src/adapters/jira/schemas.ts
  src/schema-ticket-events.ts
  wrangler.jsonc
Due: npm-test

feat(kv): add a function to persist ticket transitions to KV
  src/adapters/jira/adapter.ts
  src/adapters/jira/routes.ts
  src/schema-ticket-events.ts
Due: npm-test
