Repository hashi-at-home/cdevents-adapter: changes, and which pre-commit hooks are due for each by the changed paths.
All: npm-test, package-json-check

npm-test:
  name: Run npm tests
  entry: npm run test:run
  language: system
  pass_filenames: false

package-json-check:
  name: Check package.json format
  entry: npm run build
  language: system
  pass_filenames: false
  stages:
  - commit

chore: enable observability by default
  wrangler.jsonc
Due: none

fix(adapters): accept ping events on workflow queued event POSTs
  src/__tests__/adapters/github/adapter.test.ts
  src/__tests__/adapters/github/integration.test.ts
  src/adapters/github/adapter.ts
  src/adapters/github/routes.ts
  src/adapters/github/schemas.ts
Due: npm-test

fix(config): add binding to r2 bucket
  wrangler.jsonc
Due: none

feat(github): add job workflow waiting handler
  .secrets.baseline
  src/__tests__/adapters/github/adapter.test.ts
  src/__tests__/adapters/github/integration.test.ts
  src/adapters/github/adapter.ts
  src/adapters/github/routes.ts
  src/adapters/github/schemas.ts
  src/index.tsx
Due: npm-test

fix: add queue bindings and invoke hono with Env object
  .mise.toml
  src/adapters/github/routes.ts
  wrangler.jsonc
Due: npm-test

ci: add ci workflow
  .github/workflows/main.yml
  .gitignore
  .mega-linter.yml
  .pre-commit-config.yaml
  README.md
Due: none

ci: remove npm ci and replace with mise task
  .github/workflows/main.yml
  .mise.toml
  .secrets.baseline
Due: none

test: add cloudflare mock function in vitest setup
  package-lock.json
  package.json
  test-setup.ts
  vitest.config.ts
Due: npm-test, package-json-check

chore: add relase configuration and job
  .github/workflows/main.yml
  .gitignore
  .releaserc.json
  package.json
Due: npm-test, package-json-check

ci: replace ci with install
  .github/workflows/main.yml
Due: none

Notes added by 'git notes add'
  c4516f57000b2b8c228ad101ef538f259e1c765d
Due: none

chore(release): 1.0.0 [skip ci]
  CHANGELOG.md
  package-lock.json
  package.json
Due: npm-test, package-json-check

chore: rename worker
  wrangler.jsonc
Due: none

chore: update dependencies after npm audit fix
  package-lock.json
  package.json
Due: npm-test, package-json-check

chore!: deploy in hashiatho.me domain
  wrangler.jsonc
Due: none

chore(release): 2.0.0 [skip ci]
  CHANGELOG.md
  package-lock.json
  package.json
Due: npm-test, package-json-check

Notes added by 'git notes add'
  b9ceccc8456dacb6e20563ba57d4dc0e9412204a
Due: none

fix(queue): fix name of binding to queue
  src/index.tsx
Due: none

chore(release): 2.0.1 [skip ci]
  CHANGELOG.md
  package-lock.json
  package.json
Due: npm-test, package-json-check

Notes added by 'git notes add'
  61d1fa909285696112b2fb8d99155a1e3e7d6cc0
Due: none

test: update test to pass on semantic versions instead of hard-coded
  .releaserc.json
  package.json
  src/__tests__/adapters/github/adapter.test.ts
  src/__tests__/adapters/github/integration.test.ts
  src/__tests__/api/api.test.ts
  src/adapters/github/adapter.ts
  src/index.tsx
  src/version.ts
  src/vite-env.d.ts
  test-setup.ts
  vite.config.ts
  vitest.config.ts
Due: npm-test, package-json-check

feat: log webhooks to r2
  src/adapters/github/routes.ts
  src/index.tsx
Due: npm-test

chore: update docs on the page
  src/index.tsx
Due: none

fix: contacts
  src/__tests__/api/api.test.ts
  src/index.tsx
Due: npm-test

feat: add / and /webhook routes, with processing implementation
  src/adapters/github/routes.ts
Due: npm-test

build(release): set tarballDir to string
  .releaserc.json
Due: npm-test

Notes added by 'git notes add'
  bf999d3c9f878c6ca514cf5e1b6029f599468dac
Due: none

chore(release): 2.1.0 [skip ci]
  CHANGELOG.md
  package-lock.json
  package.json
Due: npm-test, package-json-check

docs(readme): update design philosophy in README
  README.md
Due: none

test: add essential test suite
  .pre-commit-config.yaml
  package.json
  src/__tests__/adapters/github/essential-adapter.test.ts
  src/__tests__/adapters/github/essential-integration.test.ts
  src/__tests__/adapters/github/integration.test.ts
  src/adapters/github/adapter.ts
  src/adapters/github/routes.ts
  src/adapters/github/schemas.ts
Due: npm-test, package-json-check

refactor(validation): add helper function and related tests to validate generated events
  src/__tests__/fixes/validation-error-handling.test.ts
  src/adapters/github/routes.ts
  wrangler.jsonc
Due: npm-test

build: update node version and move from pre-commit to prek
  .mise.toml
Due: none

chore: update package dependencies
  package-lock.json
  package.json
Due: npm-test, package-json-check

test(github): fix tests to expect correct output on github events
  src/__tests__/adapters/github/essential-integration.test.ts
  src/__tests__/adapters/github/integration.test.ts
Due: npm-test

fix(github): allow any string for action
  .secrets.baseline
  src/__tests__/adapters/github/integration.test.ts
  src/adapters/base.ts
  src/adapters/github/routes.ts
  src/adapters/github/schemas.ts
Due: npm-test

chore: add cloudflare types
  .secrets.baseline
  worker-configuration.d.ts
Due: npm-test

feat!: add initial implementation of jira adapter
  src/adapters/github/routes.ts
  src/adapters/jira/adapter.ts
  src/adapters/jira/routes.ts
  src/adapters/jira/schemas.ts
  src/index.tsx
Due: npm-test

chore: update node packages
  package-lock.json
Due: npm-test

test(tags): add mising Jira Adapter tag
  src/__tests__/api/api.test.ts
Due: npm-test

chore: add cloudflare binding configuraiton
  .secrets.baseline
  worker-configuration.d.ts
Due: npm-test

Path conditions:
  npm-test: any of: \.(ts|js|json)$
  package-json-check: any of: ^package\.json$
